<footer class="section-p1">
    <div class="col">
        <img class="logo" src="./logo.jpg" alt="">
        <strong><h2>Contact</h2> </strong>
        <p><strong>Address: </strong> Trangbari, Kashinathpur, Pabna, Rajshahi, Bangladesh</p>
        <p><strong>Phone Number: </strong> +8801737629952</p>
        <p><strong>Email: </strong>  masudxr@gmail.com</p>
        <p><strong>Hours: </strong> 24/7 Hours</p>
        <div class="follow">
            <h2>Follow Us</h2>
            <div class="icon">
                <i class="fab fa-facebook-f"> </i>
                <i class="fab fa-twitter"> </i>
                <i class="fab fa-instagram"> </i>
                <i class="fab fa-youtube"> </i>
            </div>
        </div>
    </div>

    <div class="col">
        <h2>About</h2>
        <a href="./about.ejs">About Us</a>
        <a href="#">Delivery Information</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="./contact.ejs">Contact Us</a>
    </div>

    <div class="col">
        <h2>My Account</h2>
        <a href="#">Sign In</a>
        <a href="#">View Cart</a>
        <a href="#">My Wishlist</a>
        <a href="#">Track My Order</a>
        <a href="#">Help</a>
    </div>

    <div class="col install">
        <h2> Install App</h2>
        <p>From App Store Or Google Play</p>
        <div class="row">
            <img style="width: 80px;" src="../banner.jpg" alt="">
            <img style="width: 80px;" src="../banner.jpg" alt="">
        </div>
        <p>Secured Payment Gateway</p>
        <img style="width: 80px;" src="../banner.jpg" alt="">
    </div>
    <div class="copyright">
        <p> © 2022 MR - eCommerce Site </p>
    </div>

</footer>

<!-- <div class="footer">
    <p>
        eCommerce Site
    </p>
</div> -->
</body>
</html>